@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181E2A;
    font-family: 'Open Sans';
    color: white;
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: 'Raleway';
}

@media screen and (max-width: 500px) {

    /* Estilos del header */
    .container {
        background-color: #1C2230;
        width: 100%;
        overflow: hidden;
        padding-bottom: 7%;
    }

    .container img {
        float: left;
        width: 25%;
        margin: 6% 0 0 5%;
    }

    .container a {
        font-size: 1em;
        text-decoration: none;
        color: hsl(243, 86%, 85%);
    }

    .container ul {
        float: right;
        margin: 7.5% 10% 0 0;
    }

    .container li {
        float: left;
        text-decoration: none;
        list-style-type: none;
        padding-left: 15px;
    }

    /* Estilos de de la introducción */

    .Info-Section {
        width: 100%;
    }

    .ImgSec {
        background-color: #1C2230;
    }

    .ImgSec #logo-files {
        width: 75%;
        margin-left: 14%;
        position: relative;
        padding-top: 2%;
    }

    .ImgSec h1 {
        text-align: center;
        position: relative;
        padding-top: 6%;
        padding-right: 10%;
        font-size: 1.9em;
        font-weight: 400, 700;
        margin-left: 10%;
    }

    .ImgSec #curvyMobile {
        width: 100%;
        position: relative;
        top: 436px;
    }

    .Info-Section p {
        position: relative;
        margin-top: 5%;
        font-size: 1em;
        font-weight: lighter;
        text-align: center;
        font-weight: normal;
        margin-left: 2%;
    }

    .Info-Section a {
        width: 50%;
        background-color: hsl(198, 60%, 50%);
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: white;
        margin-top: 7%;
        margin-left: 26.5%;
        border: 1px solid hsl(198, 60%, 50%);
        border-radius: 25px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    /* Vertical Boxes Caracteristicas*/

    .Container-Caracteristicas {
        margin-top: 25%;
    }

    .Container-Caracteristicas .caja {
        width: 80%;
        margin-top: 100px;
        text-align: center;
        margin-left: 10%;
    }

    .Container-Caracteristicas .caja img {
        margin-bottom: 45px;
    }

    .Container-Caracteristicas .caja h2 {
        padding-bottom: 15px;
    }

    /*Area de productividad - Container-Productive*/

    .Container-Productive {
        margin-top: 100px;
    }

    .Container-Productive #fondo_principal {
        width: 95%;
        margin-left: 2%;
    }

    .Container-Productive h2 {
        margin-top: 50px;
        font-size: 1.5em;
        padding-left: 10%;
    }

    .Container-Productive p {
        font-size: 1.113em;
        margin-top: 25px;
        padding-left: 8%;
    }

    .Container-Productive a {
        display: inline-block;
        margin-top: 25px;
        margin-left: 8%;
        color: hsl(198, 60%, 50%);
        text-decoration: none;
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }

    .Container-Productive a img {
        width: 24px;
        vertical-align: middle;
        padding-left: 2%;
    }

    /*Seccion de trabajadores*/

    .Container-Reviews {
        width: 100%;
        margin-top: 150px;
        margin-bottom: 400px;
    }

    .Container-Reviews #comillas {
        width: 6%;
        position: relative;
        top: 40px;
        left: 12%;;
    }

    .Container-Reviews .caja {
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
        border: 1px solid hsl(219, 30%, 18%);
        background-color: hsl(219, 30%, 18%);
        border-radius: 14px;
        padding: 40px 25px 10px 25px ;
    }

    .Container-Reviews .caja p {
        font-size: 0.88em;
    }

    .Container-Reviews .caja .perfil img {
        margin-top: 20px;
        border: 0px solid hsl(219, 30%, 18%);
        border-radius: 50%;
        width: 12%;
        display: inline-block;
    }

    .Container-Reviews .caja .perfil .Nombre {
        font-size: 0.9em;
        display: inline-block;
        position: relative;
        bottom: 25px;
        left: 3%;
    }

    .Container-Reviews .caja .perfil p {
        font-size: 0.68em;
        position: relative;
        left: 16%;
        bottom: 22px;
    }

    /*Suscription box area*/

    .Container-Suscriptor {
        width: 100%;
        background-color: hsl(216, 53%, 9%);
        margin-bottom: -75px;
    }

    .Container-Suscriptor .caja {
        width: 80%;
        margin-left: 10%;
        text-align: center;
        background-color: hsl(217, 28%, 15%);
        border: 1px solid hsl(217, 28%, 15%);
        border-radius: 14px;
        padding: 40px 0px 40px 0px;
        position: relative;
        bottom: 185px;
    }

    .Container-Suscriptor .caja h2 {
        font-size: 1.3em;
        font-weight: bold;
    }

    .Container-Suscriptor .caja p {
        margin-top: 20px;
        font-size: 1em;
    }

    .Container-Suscriptor .caja input[type=email] {
        width: 85%;
        height: 50px;
        margin-top: 25px;
        border: 1px solid white;
        border-radius: 25px;
        text-align: left;
        overflow: hidden;
    }

    .Container-Suscriptor .caja input[type=submit] {
        width: 85%;
        height: 50px;
        margin-top: 25px;
        border: 1px solid hsl(198, 60%, 50%);
        background-color: hsl(198, 60%, 50%);
        color: white;
        border-radius: 25px;
        font-size: 0.9em;
        font-weight: bold;
    }

    /*Seccion del footer*/
    .Footer-Container {
        width: 100%;
        background-color: hsl(216, 53%, 9%);
    }

    .Footer-Container .Container-Contacto #logo {
        width: 50%;
        margin-left: 12%;
    }

    .Footer-Container .Container-Contacto p {
        margin-left: 9%;
        font-size: 1em;
        margin-top: 20px;
    }

    .Footer-Container .Container-Contacto p img {
        vertical-align: middle;
        width: 4%;
        margin-right: 5%;
    }

    .Footer-Container .Container-Info {
        margin-left: 9%;
    }

    .Footer-Container .Container-Info .Seccion1 {
        margin-top: 70px;
    }

    .Footer-Container .Container-Info .Seccion2 {
        margin-top: 50px;
    }

    .Footer-Container .Container-Info a {
        text-decoration: none;
        color: white;
    }

    .Footer-Container .Container-Info li {
        list-style-type: none;
    }

    .Footer-Container .Container-Info .Menu-Data {
        margin-top: 10px;
    }

    .Footer-Container .Container-Info .Menu-Info {
        margin-top: 10px;
    }

    .Footer-Container .SocialMedia {
        margin-left: 32%;
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .Footer-Container .SocialMedia a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        margin-left: 2%;
    }

    .Footer-Container .SocialMedia i {
        font-size: 20px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px 15px 10px 15px;
    }

    Footer p {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}