@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C2230;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,700;
    color: white;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 375px) {

}